<div class="cmf-breadcrumb">
    <ul>
        {% for url, title in parents %}
            <li><a href="{{ todo: base path to this menu ~ url }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>