<div class="cmf-childlist">
    <ul>
        {% for url, title in children %}
            <li><a href="{{ todo: base path to this menu? ~ url}}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>