{# see HierarchyWalker::getMenu() for documentation on the nested array structure you get here #}
<div class="cmf-menu">
    {% include "SymfonyCMFNavigationBundle:Navigation:menulevel.html.twig" with {'menu': root} %}
</div>
