<ul>
    {% foreach entry in menu %}
        <li class="{% if entry.selected %}selected{% else %}unselected{% endif %} {% if entry.children %}{% if count(entry.children) %}children{% else %}nochildren{% endif %}{% endif %}">
        {# if no children elem present at all, walker did not check for children #}
            <a href="{{ todo: base url? ~ entry.url }}">{{ entry.title }}</a>
            {% if entry.children and count(entry.children) %}
                {% include "SymfonyCMFNavigation:Navigation:menu.html.twig" with {'menu': entry.children} %}
            {% endif %}
        </li>
    {% endforeach %}
</ul>
